
  
.quizes {
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to bottom, #e0f2f1, #ffffff);
      text-align: center;
      padding: 30px;
      max-width: 100%;
      margin: auto
    }

    h1 { color: #00695c; }
    .mascote { font-size: 4em; margin: 10px; }
    .nivel { font-size: 1.1em; font-weight: bold; margin-bottom: 10px; }
    .pergunta { font-size: 1.2em; margin: 20px 0 10px; }
    .opcao {
      display: block;
      background-color: #fff;
      border: 2px solid #ccc;
      border-radius: 8px;
      padding: 12px;
      margin: 10px auto;
      width: 80%;
      cursor: pointer;
      transition: 0.3s;
    }
    .opcao:hover { background-color: #e0f7fa; }
    .correta { background-color: #c8e6c9 !important; border-color: #2e7d32; }
    .errada { background-color: #ffcdd2 !important; border-color: #c62828; }
    #btnProxima {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1em;
      background-color: #00695c;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      display: none;
    }
    #resultado {
      margin-top: 20px;
      font-size: 1.2em;
      font-weight: bold;
    }