body {
  font-family: 'Poppins', sans-serif;
}

.icon {
  font-size: 28px;
  color: blue;
  margin-right: 10px;
}

.icons {
  font-size: 28px;
  color: red;
}

.logo-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .logo-img {
    width: 40px;
    height: 40px;
  }

  .navbar-nav .btn {
    margin-bottom: 10px;
  }
}
